header {
    display: flex;
    justify-content: space-between;
    background-color: #4C5B84;
    padding: 10px 20px;
    border-bottom: 10px solid #000 ;
}

img{
    
    height: 60px;
    width: 60px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;


}

a:before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #110B34;
    margin: 10px;
}

#download-button{
    display: inline-block;
    background-color: #110B34;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    box-shadow: 5px 5px 0 #000;
}