.banner{
    box-sizing: border-box;
    width: 100%;
    background-image: url(../../Assets/images/fundoindex\ -\ Copia.jpg);
    height: 650px;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 10px solid #000;
    padding-top: 2rem;
}



.banner .wrapper{
    display: flex;
    width: 630px;
    flex-direction: column;
    padding-top: 90px;
    padding-left: 110px;
    box-sizing: border-box;

}

.banner .box{
    margin-bottom: 40px;
}

.banner .navigation{

    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:980px) {

    .banner{
        height: 100%;
        padding-bottom:4rem ;
        padding-top: 4rem; 
        background-size: auto;  
       
    }
    .banner .wrapper {
        margin: auto auto;
        justify-content: center;
        width: 70%;
        padding: 0;
    }

    .banner .wrapper .box{
        width: auto;
        height: auto;
        box-sizing: border-box;
        text-align: center;
    }

    .banner .box .main-title{
        text-align: center;
        font-size: x-large;
    }

    .banner .box .main-subtitle{
        font-size:1rem;

    }

    .banner .wrapper .navigation{
        justify-content: center;
    }
    .banner .wrapper .navigation .button{
        font-size: small;
        height: auto;
        line-height: 1rem;
        padding: 0.5rem;
    }
}