.box{
    display: inline-block;
    background-color: #110B34;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 10px 10px 0 #000;
    box-sizing: border-box;
}

.box .main-title{
    margin-bottom: 20px;
}
