.main-title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #04724D;
    text-shadow: 4px 4px 0 #000;
}

.main-title.-second{
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
}