.main-section {
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding: 1rem;

}

.main-section .main-title.-second{
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
}

.main-section.-bgblue{
    background-color: #110B34;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section.-bgblack{
    border-top:10px solid #04724D;;
    background-color: black;
    height: 520px;
    border-bottom: 10px solid #04724D;
}

.main-section.-bggrey{
    border-top:10px solid black;
    background-color: #565680;
    justify-items: center;
    border-bottom: 10px solid black;
}


@media screen and (max-width:970px) {
    .main-section.-bgblue .wrapper-skill{
       gap: 2rem;
       padding-bottom: 2rem;
       justify-items: center;
    }

}

@media screen and (max-width:760px) {
    .main-section.-bgblack{
        height: auto;
    }

    .main-section.-bgblue .main-title.-second {
        font-size: 30px;
    }
    .main-section.-bgblack .wrapper-project{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
    }

    .main-section.-bgblack .wrapper-project .card-project{
        width: 40%;
        height: 20vh;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }



}

