.main-title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #04724D;
    text-shadow: 4px 4px 0 #000;
    text-align: justify;
}

.main-title.-second{
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
    transform: translateY(0);
    animation: float 5s ease-in-out infinite;

}

@keyframes float{
0%{
    transform: translateY(0);
}
50%{
    transform: translateY(-10px);
}
100%{
    transform: translateY(0);
}
}