.menu-icon{
    box-sizing: border-box;
    width: auto;
    height: 60px;
    display: block;
}
 
.menu-icon > img{
    width: auto;
    height: 60px
}



@media screen and (min-width:981px) {
    .menu-icon{
        display: none;
    }
}
