.progress {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

.progress::-webkit-progress-value {
    background-color: #04724D;

  }

  
.progress::-webkit-progress-inner-element {
    border: 5px solid black;
    width: 320px;
    height: 40px;
  }

  .progress::-webkit-progress-bar {
    background-color:white;
  }

  .progress::-moz-progress-value {
    background-color: #04724D;

  }

  
.progress::-moz-progress-inner-element {
    border: 5px solid black;
    width: 320px;
    height: 40px;
  }

  .progress::-moz-progress-bar {
    background-color:white;
  }


  @media  screen and (max-width:960px) {


  
    
  .progress::-webkit-progress-inner-element {
      border: 5px solid black;
      width: auto;
      height: 40px;
    }
  
    
  .progress::-moz-progress-inner-element {
      border: 5px solid black;
      width: auto;
      height: 40px;
    }
  
  }