.skills-tec{
    display: flex;
    box-sizing: border-box;
    
}

.skills-tec .icon{
    width: 80px;
    height: 90px;
    margin-right: 25px;
    
}

.skills-tec .title{
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    padding-top: 5px;

}

.skills-tec .right{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:740px) {
    .skills-tec{
        margin: 0;
        
        flex-direction: column;
        
    }  

    .skills-tec .right .title{
        font-size: 20px;
    }

    .skills-tec .icon {
        align-items: end;
        width: 50px;
        height: 60px;
    }

    .skills-tec .right {
        display: block;
        align-items: flex-start;
        margin-left: .5rem;
    }



    

}